/* Begin style for the tools pages */

.section-heading {
    font-size: 5rem;
    color: var(--color-secondary);
    font-weight: bold;
}

.description {
    font-size: 1.5rem;
    margin-top: 20px;
    color: var(color-black);
    line-height: 1.6;
}

.buttons-group {
    margin-top: 30px;
}

.buttons-group .btn-custom {
    background-color: var(--color-primary);
    color: #fff;
    margin-right: 15px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.buttons-group .btn-custom:hover {
    background-color: var(--color-secondary);
}

.blog-section {
    margin-top: 50px;
    padding: 30px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;

}

.blog-section h3 {
    color: var(--color-primary);
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2rem;
}

.blog-section pre {
    background-color: #f8f9fa;
    padding: 15px;
    border-left: 5px solid var(--color-primary);
    border-radius: 5px;
    color: #333;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    .section-heading {
        font-size: 3rem;
    }

    .iframe-container iframe {
        height: 200px;
    }
}

.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
  margin-bottom: 60px;
  color: var(--color-secondary);
}
.section-title p {
	color: #777;
	font-size: 16px;
}
.section-title h4 {
	text-transform: capitalize;
	font-size: 40px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.section-title h4:before {
	position: absolute;
	content: "";
	width: 60px;
	height: 2px;
	background-color: rgb(255, 102, 0);
	bottom: 0;
	left: 50%;
	margin-left: -30px;
}
.section-title h4:after {
	position: absolute;
	background-color: rgb(255, 102, 0);
	content: "";
	width: 10px;
	height: 10px;
	bottom: -4px;
	left: 50%;
	margin-left: -5px;
	border-radius: 50%;
}
ul.timeline-list {
	position: relative;
	margin: 0;
	padding: 0
}
ul.timeline-list:before {
	position: absolute;
	content: "";
	width: 2px;
	height: 100%;
	background-color: rgb(255, 102, 0);
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
ul.timeline-list li {
	position: relative;
	clear: both;
	display: table;
}
.timeline_content {
	border: 2px solid rgb(255, 102, 0);
	background-color:#fff
}
ul.timeline-list li .timeline_content {
	width: 45%;
	color: #333;
	padding: 30px;
	float: left;
	text-align: right;
}
ul.timeline-list li:nth-child(2n) .timeline_content {
	float: right;
	text-align: left;
}
.timeline_content h4 {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 0;
}
ul.timeline-list li:before {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background-color: rgb(255, 102, 0);
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border-radius: 50%;
}
.timeline_content span {
	font-size: 18px;
	font-weight: 500;
	font-family: poppins;
	color: rgb(255, 102, 0);
}
/* End style for the tools pages */
